.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    -webkit-user-drag: none;
    height: 100%;
}


.msg {
    text-align: center;
}


.msg2 {
    text-align: center;
}


#reset {
    display: none;
}


h1 {
    text-align: center;
}


img {
    width: 12em;
    height: 12em;
    cursor: grab;
    -webkit-user-drag: none;
}


img::selection {
    background-color: transparent;
}


.result {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#player,#computer {
    cursor: default;
}


